body {
    background-color: #ffffff;
    background-size: 100% 70%;
}
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.header {
    width: 100%;
    height: auto;
    background-color: #1cb7f4a0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px;
    color: #242424;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.footer {
    width: 100%;
    height: auto;
    background-color: #1cb7f4a0;
    text-align: center;
    font-size: 13px;
    padding: 40px 0px;
    color: #242424;
}

.footer small {
    font-size: 10px;
    color: #242424;
}

.main .date {
    text-align: right;
}

.main .content1 {
    width: 70%;
    height: auto;
    background-color: #e3e3e3;
    line-height: 1.5;
    padding: 20px 20px;
    margin: auto;
    /*background:linear-gradient(135deg,transparent 19px,#e3e3e3 0)top left;*/
    border:2px solid #316464;
    position: relative;
}
div.prsya{
    width: 150px;
  height:150px;
  border-radius:50%;
  background-image: url("image/WTsBT9pt_400x400.jpg");
  background-position: 48% 40%;
  margin-left: 25%;
}

.main .content2 {
    width: 70%;
    height: auto;
    background-color: #e3e3e3;
    line-height: 1.5;
    padding: 20px 20px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 15px;
    /*background:linear-gradient(135deg,transparent 19px,#e3e3e3 0)top left;*/
    position: relative;
    border:2px solid #316464;
}

.main .content3 {
    width: 70%;
    height: auto;
    background-color: #e3e3e3;
    line-height: 1.5;
    padding: 20px 20px;
    margin: 0px auto;
    margin-top: 15px;
    margin-top: 15px;
    /*background:linear-gradient(135deg,transparent 19px,#e3e3e3 0)top left;*/
    position: relative;
    border:2px solid #316464;
}

.main .content4 {
    width: 70%;
    height: auto;
    background-color: #e3e3e3;
    line-height: 1.5;
    padding: 20px 20px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 15px;
    /*background:linear-gradient(135deg,transparent 19px,#e3e3e3 0)top left;*/
    position: relative;
    border:2px solid #316464;
}



h1 {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 15px;
    width: 140px;
    height: auto;
    background-color: #6fb9ac;
    text-align: center;
    /*margin-right: auto;*/
    margin-left: 13%;
    color: #ffffff;
    padding:10px;
    border-radius:10px;
}


h2 {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 15px;
    width: 140px;
    /*margin-right: auto;*/
    margin-left: 13%;
    color: #ffffff;
    background-color: #6fb9ac;
    text-align: center;
    padding:10px;
    border-radius:10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 15px;
    width: 140px;
    height: auto;
    background-color: #6fb9ac;
    text-align: center;
    /*margin-right: auto;*/
    margin-left: 13%;
    color: #ffffff;
    padding:10px;
    border-radius:10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 15px;
    width: 140px;
    height: auto;
    background-color: #6fb9ac;
    text-align: center;
    /*margin-right: auto;*/
    margin-left: 13%;
    color: #ffffff;
    padding:10px;
    border-radius:10px;
}



.twitter-logo {

    margin: 14px;
    /*隣との間隔*/

    border-radius: 30px;

    width: 130px;
    height: 130px;
    cursor: pointer;
    /* マウスを重ねたときにポインターを表示 */
}

.insta-logo {
    border-radius: 30px;

    margin: 14px;

    width: 130px;
    height: 130px;

    cursor: pointer;
}

.th-logo {

    margin: 14px;

    width: 130px;
    border-radius: 30px;
    height: 130px;
    cursor: pointer;
}

.blue-logo {

    margin: 14px;

    border-radius: 30px;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

@media(min-width:1200px) {
    .twitter-logo {
        margin-left: 120px;
    }

    .insta-logo {
        margin-left: 20px;
    }

    .th-logo {
        margin-left: 20px;
    }

    .blue-logo {
        margin-left: 20px;
    }
    div.prsya{
        margin-left: 80%;
        margin-top: -15%;
    }



}

.cp_link {
    padding: 0.1em 0.3em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(33, 169, 254) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    color: #0066ff;
}

.cp_link:hover {
    background-position: -100% 0;
    color: #fff;
    margin-bottom: 30px;
}
.main .content1::before{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #FFF;
    border-left:solid 40px transparent;
    left:-3px;
    top:-3px;
    z-index:2;
    transform:rotate(-90deg);
}

.main .content1::after{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #316464;
    border-left:solid 40px transparent;
    left:-1.5px;
    top:-1.5px;
    
    transform:rotate(-90deg);
}
.main .content2::before{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #FFF;
    border-left:solid 40px transparent;
    left:-3px;
    top:-3px;
    z-index:2;
    transform:rotate(-90deg);
}

.main .content2::after{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #316464;
    border-left:solid 40px transparent;
    left:-1.5px;
    top:-1.5px;
    
    transform:rotate(-90deg);
}
.main .content3::before{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #FFF;
    border-left:solid 40px transparent;
    left:-3px;
    top:-3px;
    z-index:2;
    transform:rotate(-90deg);
}

.main .content3::after{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #316464;
    border-left:solid 40px transparent;
    left:-1.5px;
    top:-1.5px;
    
    transform:rotate(-90deg);
}
.main .content4::before{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #FFF;
    border-left:solid 40px transparent;
    left:-3px;
    top:-3px;
    z-index:2;
    transform:rotate(-90deg);
}

.main .content4::after{
    height:0;
    display: block;
    position: absolute;
    content:"";
    border-top:solid 40px #316464;
    border-left:solid 40px transparent;
    left:-1.5px;
    top:-1.5px;
    
    transform:rotate(-90deg);
}
